<a href="https://colab.research.google.com/github/lsuhpchelp/lbrnloniworkshop2019/blob/master/day1_python/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 #  Numpy Arrays and Loops

## PETE 2061 Lab 3

<a id='top'></a>

<a id='overview'></a>
# Topics Covered
<font color=blue>
 * [Hello world!](#helloworld) 
 * [Comments in Python](#comments)
 * [Variables](#variables)
 * [Operators](#operators)    
 * [Python programming basics](#data-type)
 * [Control structures and functions](#control)
 * [Python modules](#module)
 * [Numpy](#numpy)
 * [Plotting](#plot)</font>
<br>

<a id='data-type'></a>
## Build-in Data Types   
<font color=blue>
* [Number](#numbers)
* [String](#string)
* [List](#list)
* [Tuple](#tuple)
* [Dictionary](#dic)
* [File](#file)    
 </font>
 [top](#top)

In [0]:
# iterate list elements
animals = ['dog','cat','horse']
for name in animals:
    print(name)

In [0]:
for index, name in enumerate(animals):
    print(index+1, name)

In [0]:
# modify list
del my_list[0]; print(my_list)
my_list.append(99); print(my_list)
my_list.insert(1, 100); print(my_list)

In [0]:
#some list funs

my_list.sort(); print(my_list)
my_list.reverse(); print(my_list)

In [0]:
#more sorting
my_list = ['cats', 'SHEEP','DOGS','horses']
print(sorted(my_list, key=len))
print(sorted(my_list))
print(sorted(my_list, reverse=True))

In [0]:
sorted(my_list, key=len)

In [0]:
# sort by lowercase
sorted(my_list, key=str.lower)

In [0]:
#list comprehension [expr for var in list]
my_list=[2,5,9,1]
square = [x**2 for x in my_list]; print("square =", square)
large = [n for n in my_list if n >= 5]; print('large =',large)

In [0]:
my_dict = {'cats': 4, 'dogs':2, 'sheep':3}
print(my_dict)

In [0]:
for key, value in my_dict.items():
    print(key, value)

<a id='file'></a>
## Files
* file open, close, read, write
* file_handle = open(“file_name”, ‘mode’)
    * Modes: 
    * a: append
    * r: read only (error if not existing)
    * w: write only
    * r+: read/write (error if not existing)
    * w+: read/write
    * b: binary
* Python has a built-in garbage collector
* Object memory space is auto reclaimed once a file is no longer in use

In [0]:
! if [ ! -f "data.txt" ]; then wget 'https://raw.githubusercontent.com/lsuhpchelp/lbrnloniworkshop2018/master/day2_python/data.txt'; else echo 'file exists'; fi;

In [0]:
input = open('data.txt', 'r')
content = input.read()
input.close()
print(content)

In [0]:
#write to a file
output = open('write.txt','w')
output.write("Writing to a file")
output.close()
!ls -l

<a id='control'></a>
## Control Structures 
<font color=blue>
* if-else
* for loops, while loops
* break: jump out of the current loop
* continue: jump to the top of next cycle within the loop
* pass: do nothing 
</font> 
[top](#top)

In [0]:
x = 500 #input("Please enter a number")
if ( x >= 5 ):
  print(x,"> 5")
  print("Hi, greater than 5")
else:
    print(x, "< 5")

In [0]:

for num in range(3):
    print(num)

In [0]:
index=0
while (index < 3):
    print(index)
    index = index + 2

<div class='alert alert-block alert-danger'>  Tip: <div>
Indentation: signify code blocks  <div>

In [0]:
#prime numbers
n = 2
while n < 10:
    prime = True
    for x in range(2,n):
        if n % x == 0:
            prime = False
            break
        if prime:
            print(n, 'is a prime #')
            pass
        else:
            n= n + 1
            continue
    n = n + 1

<a id='module'> </a>
## Functions
def func_name(par1, par2,...): 
> body of code
 
 [top](#top)

In [0]:
#addition
def my_add(x, y):
    return x+y

sum=my_add(3, 8); print(sum)

In [0]:
#return multiple values
def power(input):
    return input**2, input**3

square, cube = power(3)
print("squre =",square, "cube =",cube)

<a id='module'> </a>
## Python Module
* A python script with python functions and statements
* Import a module before having access to all the functions within
* Most Python distributions come with plenty of build-in modules 
***
 [top](#top)


## Python Modules
* math, sys, os..
* NumPy, high performance in vector & matrix using vector computation 
* SciPy: based on Numpy, including many scientific algorithms.
* padas
* matplotlib, pyplot, pylab

Reference to [Python3.x standard libraries](https://docs.python.org/3/library/)

In [0]:
#import a module
import math
math.sin(math.pi)

In [0]:
#get information of a module
dir(math)

In [0]:
#get information
help(math)

In [0]:
# get information of a module function 
help(range)

 * Examples using os, commands modules
 * os: includes many functions interacting with the file system

In [0]:
import os
!ls 
os.listdir()

In [0]:

def display_dir(dir):
      files = os.listdir()
      for fname in files:
        print(fname)
        print(os.path.abspath(os.path.join(dir, fname))) 

display_dir('/tmp')

#### Data processing

In [0]:
# Plot a bar chart
import matplotlib.pyplot as plt


xlabeles = ['January','February','March','April']
xticks = [i for i in range(len(xlabeles))]
y = [ 34, 17, 13, 69]
e = [5.2, 10., 1.5, 12.]
plt.errorbar(xlabeles, y, yerr=e, fmt='d', capsize=10)
plt.bar(xlabeles, y, 0.5, color='red' )
plt.title("Sale by Month")
plt.xlabel('Month')
plt.ylabel('Sale')
plt.xticks(xticks, xlabeles)

plt.show()

# Examples:   Please solve the following problems:  (Feel free to ask for help)

Write a line of code to print the sum of 999 and 1600

Write a line of code to print out your "Hello Name" where Name is your name.

Write a code snippet to calculate the total of the shopping spree on Rodeo Dr. You bought:

1 pair of shoes:  2400<br>
1𝑝𝑎𝑖𝑟𝑜𝑓𝑠𝑙𝑎𝑐𝑘𝑠: 1500 1<br>
ruby ring: $22000

State and local tax is 22%.

You want to print out the untaxed total, the amount of tax and the total of tax and goods.

Using the code you wrote above make the tax calculation a function block and the shopping total a function block

**Create a leap year finder based on the following algorithm:

Leap years occur according to the following formula: a leap year is divisible by four, but not by one hundred, unless it is divisible by four hundred. For example, 1992, 1996, and 2000 are leap years, but 1993 and 1900 are not. The next leap year that falls on a century will be 2400.

Use the following list to check and see if your code is correct.  The list of leap years from 1900 to 2400 inclusive is:

1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020

Using the code in the prime number example in the Control Structures section fix the code so it only prints out each prime number once.